.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 8%
    left: -10%

  &-2
    animation: float2 4.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%

  &-3
    animation: float3 4.5s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 10%

@keyframes float1
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(30px)
  100%
    transform: translateX(0px)
@keyframes float3
  0%
    transform: translateX(30px)
  100%
    transform: translateX(0px)

.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img
  padding-right: 0 !important    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
    color: $color-sistema-texto !important

.titulo-principal.color-acento-contenido .titulo-principal__numero,
.cajon.color-acento-contenido
    background-color: $color-acento-contenido  !important
.cajon.color-acento-contenido:before
   background-color: #73D8C0
.cajon.color-primario 
    background-color: #ddfaf4
.caption-table
    color: #12263F;
    font-size: 0.8em;
    background-color: #e8e8e8;
    padding: 0.75em 1.5em;
    font-weight: 700;

.h-auto
  height: auto !important 

.lista-ul--color li > i:first-of-type 
    color: $color-acento-botones;
.txt-18-bold
  font-size: 16px
  font-weight: bold
.anexo 
  background-color: $color-acento-contenido;
.anexo * 
    color: $color-sistema-texto;
.anexo__icono
  left: 0 !important
.anexo__texto
  margin-left: 20px

.f-bold-18
  font-size: 18px
  font-weight: 900

.bg01
  background-color: #DEE4F0 !important
  border-radius: 10px

.bg02
  background-color: #F5947A
.bg03
  background-color: #E9FAF6
  border-radius: 10px
.bg04
  background-color: #EBFAF6
.bg05
  background-color: #EBFAF6
  border-radius: 0 !important
.bg06
  background-color: #CCD7D7
  border-radius: 10px
.bg07
  background-color: #BAEFE4
.bg08
  background-color: #BBC9CA
  border-radius: 20px
.bg09
  background-color: #E5DACE

.bg10
  background-color: #C9D8D7
.bg11
  background-color: #B0C0D2
.acordion__titulo
    padding-left: 3rem !important;
.ml-0-cus
  margin-left: 0 !important
.mt-5-cus
    margin-top: 0 !important
.tarjeta--boton 
  background-color: #025157
  border-radius: 20px   0 0 20px !important
.tarjeta--boton-2
  background-color: #D2E1F1
  border-radius: 0   20px 20px 0  !important
.tarjeta--boton-3
  background-color: #025157
  border-radius: 20px
  height: 380px
.lista-ol--cuadro__vineta.color-acento-botones
  background-color: $color-acento-botones
.tarjeta--boton.color-sistema-b
  background-color: $color-sistema-b
  border-radius: 20px !important
.tarjeta--azul.acordion__activo
    background-color: #E8E8E8 !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: #F5947A;
    border-color: #F5947A !important
.slyder-a__bullets__item--active 
    background-color: #F5947A;
    border-color: #F5947A;
.titulo-sexto.color-white
    border-left-color: #fff;

.anexo.bg-white
    background-color: #FFF !important


.bloque-texto-a.color-primario 
    background-color: #DEE4F0;
.bloque-texto-a.color-primario:before 
    background-color: #BAEFE4;
.bloque-texto-f__comillas i 
    color: #025157;
.bloque-texto-f__comillas i:first-of-type 
    margin-left: 15px;
    margin-top: 25px;
    top: 0;
    left: 0px !important
    transform: none

.f-table
  font-size: 18px !important
  font-weight: bold !important
  color: #fff !important
.tabla-a.color-acento-contenido thead 
    border: 0 !important
    background-color: #727997;
    
.w-td-table3
  width: 20%
.tabla-a.table-cus table
    min-width: initial !important

.tabs-a__tab
  background-color: #E8E8E8
.tabla-a.color-acento-contenido tbody
   background-color: #fff
.td-border-lf-rg
  border-left: 2px #AFAFAF solid !important
  border-right: 2px #AFAFAF solid !important
.tabla-a.table-cus td, th
    border-top: 0 !important
    border-bottom: 0 !important
.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.jumbo_1
  background-color: #FFEFEF
  padding: 2px

.jumbo_2
  background-color: #EDE3B7
  padding: 2px

.nav-bg
  background-color: #FFFDF4 !important



.tabs-b__tab  
  background-color: #E8E8E8 !important
  border: 15px solid white !important
  font-size: 15px !important 
  min-width: 170px   
  border-radius: 15px


.tabs-b__tab--active
  background: #F5947A !important
  color: white !important
  font-size: 15px !important  
  min-width: 170px
  border-radius: 5px !important  


.tabs-b__tab:hover
  background-color: #F5947A !important
  border: 15px solid white !important 
  color: white !important
  font-size: 15px !important    
  min-width: 170px

.tarjeta--azul 
  background-color: #F6F6F6

.jumbo_3
  background-color: #8C757E
  padding: 2px
  color: white !important



.tarj_color
  background-color: #FFFDF4

.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 6px 0px 6px 10px

.ul_tam
  font-size: 40px

.tabs-a__tab__selected
  color: white !important

.tarjeta--azul.acordion__activo
    background-color: #EAFAF7 !important;


.txt_top
  margin-top: 16px

.alt_img
  height: 460px

@media screen and (max-width: $bp-max-xs)
  .tarjeta--boton 
    border-radius: 20px !important
    margin-bottom: 20px !important
  .tarjeta--boton-2
    border-radius: 20px  !important
  .mt-5-cus
    margin-top: 2em !important